
* {
    margin: 0;
    padding: 0;
    --background-color: rgb(22, 83, 99);
    --logo-container-color: #008E89;
    --form-container-color: white;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
}

#container {
    width: 750px;
    height: 450px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
}

#logo {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 5px;

    background-color: var(--logo-container-color);
    display: flex;
    justify-content: center;
    width: 55%;
}

.logo__picture {
    width: 300px;
}

.form__container {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;

    width: 45%;
    background-color: var(--form-container-color);
    text-align: center;
    padding: 15px;
}

#error__message {
    font-size: 10px;
    color: brown;
}

.input {
    outline: none;
    width: 250px;
    height: 25px;

    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;

    border-bottom-color: rgb(160, 160, 160);
    border-bottom-width: 1px;

    margin-bottom: 10px;
}

.forgot__password {
    text-decoration: none;
}

.text__forgot {
    text-align: center;
    margin-bottom: 15px;
}

a {
    color: rgb(66, 66, 66);
}

.login__button {
    border: none;
    background-color: rgb(71, 69, 69);
    width: 150px;
    height: 35px;
    border-radius: 20px;

    margin-bottom: 35px;

    color: rgb(255, 255, 255);
}

.container__or {
    width: 250px;
    border-bottom: 1px solid rgb(167, 167, 167);
    line-height: 0.1em;
    margin: 0 auto;
}

.text {
    color: rgb(94, 94, 94);
    background-color: #fff;
    padding: 0 10px;
}

.signUp__container {
    margin-top: 5px;

    color: rgb(66, 66, 66);
    font-size: 15px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

/* Responsivo */
@media screen and (max-width:749px) {
    #container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: static;
        transform: none;
        align-items: center;
    }

    #logo {
        width: 100%;
        height: 40%;
        max-height: 350px;
        flex-grow: 1;

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .form__container {
        width: 100%;
        flex: 1;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .input {
        width: 75%;
    }
}