@import "../common/main-style.css";

header {
    margin-bottom: 3rem;
}

#food-container {
    max-width: 120rem;
    margin: 0 auto;
    border: .1rem solid var(--light-gray);
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .menu-item-with-grid {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem; /** space between columns**/
    }
}

.menu-item-with-grid {
    border: .1rem solid var(--light-gray);
    border-radius: 1rem;
    max-width: 100rem;
    margin: 0 auto;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-bottom: 1rem;
}

.input-text2 {
    width: 90%;
}

label {
    font-weight: bold;
    margin-right: 1rem;
    color: var(--black-gray-color);
}


img {
    width: 15rem;
    height: 10rem;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
}








